// 1px solid 边框。
@mixin setTopBorder($color:#ccc) {
  & {
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    background: $color;
    transform: scaleY(.5);
  }
}

@mixin setBottomBorder($color:#ccc) {
  & {
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: $color;
    transform: scaleY(.5);
  }
}
